<a href="https://colab.research.google.com/github/IdahAtieno/DVO5/blob/main/group_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# creating variables of different data types

In [9]:
# varible called jina which is a string
jina = ('Idah')
type(jina)

str

In [10]:
# variable called alama which is a float
alama = (90.5)
type(alama)

float

In [11]:
# variable called called grade which is a boolean
grade = (True)
type(grade)

bool

In [21]:
# create and manipulate a list
student_names = ['Anthony','Rosalia','Keith','Calvin','Patric']
print(student_names)

['Anthony', 'Rosalia', 'Keith', 'Calvin', 'Patric']

In [22]:
# adding an additional item to the student_names list
student_names.append(input('New student'))
print(student_names)

New studentIdah
['Anthony', 'Rosalia', 'Keith', 'Calvin', 'Patric', 'Idah']

In [23]:
student_names.pop(2)
print(student_names)

['Anthony', 'Rosalia', 'Calvin', 'Patric', 'Idah']

In [25]:
# creating a tuple
streams = ('red','blue','green')
print(streams)

('red', 'blue', 'green')

In [28]:
# creating a set
subjects = {'maths','english','kiswahili','science','social studies'}
print(subjects)

['maths', 'english', 'kiswahili', 'science', 'social studies']

In [30]:
# using a set
extra_set = {'science','cre','maths','english','kiswahili'}
subjects == extra_set

False

In [31]:
if subjects == extra_set:
  print(True)
else:
  print(False)

False

In [32]:
# creating and manipulating a dictionary
student_data = {'student_names': student_names, 'streams': streams, 'subjects': subjects }

In [33]:
for student in student_data:
  print(student)

student_names
streams
subjects